header {
  height: 70px;
  background-color: #3F51B5;
  color: white;
}

h2 {
  display: inline-block;
  padding-left: 25px;
  width: 200px;
}

li {
  list-style-type: none;
}

nav {
  float: right;
  padding: 28px 25px 0 0;
}

nav:hover {
  cursor: pointer;
}